.header {
  height: 77px;
  width: 100%;
  margin: 0;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    display: flex;
    align-items: center;

    a {
      color: #036459;
      text-decoration: none;
      margin: 0 10px;
      font-size: 18px;
      font-weight: 500;
      transition: 0.1s;

      &:hover {
        color: #fe9e29;
      }
    }
  }
}
