.header {
  height: 77px;
  width: 100%;
  margin: 0;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    display: flex;
    align-items: center;

    a {
      color: #036459;
      text-decoration: none;
      margin: 0 10px;
      font-size: 18px;
      font-weight: 500;
      transition: 0.1s;

      &:hover {
        color: #fe9e29;
      }
    }
  }
}

.item {
  border: 2px solid rgb(51, 207, 189);
  padding: 5px;
  border-radius: 8px;
  color: rgb(51, 207, 189);

  &:hover, &:active {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 207, 189);
  }
}
