.logout {
    font-size: 16px;
    color: white;
    font-weight: 600;
	width: 120px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f71919;

    &:hover {
        background-color: #f83333;
    }
}