.messages {
	width: 100%;
	min-height: 100px;
	padding: 1rem;
	background: #F7F7F7;
	flex-shrink: 2;
	overflow-y: auto;
	box-shadow:
		inset 0 2rem 2rem -2rem rgba(black, 0.05),
		inset 0 -2rem 2rem -2rem rgba(black, 0.05);

	.message {
		box-sizing: border-box;
		padding: 0.5rem 1rem;
		margin: 1rem;
		background: #D0D0D0;
		border-radius: 1.125rem 1.125rem 1.125rem 0;
		min-height: 2.25rem;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		max-width: 66%;
		box-shadow: 0 0 2rem rgb(0 0 0 / 8%), 0rem 1rem 1rem -1rem rgb(0 0 0 / 10%);

		&.you {
			margin: 1rem 1rem 1rem auto;
			border-radius: 1.125rem 1.125rem 0 1.125rem;
			color: black;
		}

		&.interlocutor {
			color: white;
			background: #34cfbd;
		}
	}
}

.input {
	width: 100%;
	box-sizing: border-box;
	flex-basis: 4rem;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 0;

	input {
		border: none;
		background-image: none;
		background-color: none;
		padding: 0.5rem 1rem;
		margin-right: 1rem;
		border-radius: 0;
		flex-grow: 2;
		box-shadow:
			0 0 1rem rgba(black, 0.1),
			0rem 1rem 1rem -1rem rgba(black, 0.2);

		font-weight: 400;
		letter-spacing: 0.025em;

		&:placeholder {
			color: #999;
		}
	}

	svg {
		font-size: 1.5rem;
		margin-right: 1rem;
		color: #666;
		cursor: pointer;
		transition: color 200ms;

		&:hover {
			color: #333333;
		}
	}
}