@media (max-width: 480px) {
  .title {
    text-align: start;
    font-size: 14px !important;
  }

  .row {
    gap: 10px;
    
    select {
        font-size: 12px !important;
    }
  }

  .table {
    th, td, button {
        font-size: 10px !important;
    }

    td {
        padding: 7px !important;
        word-wrap: break-word;
        max-width: 70px;
    }
  }
}
