html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.greenButton {
  padding: 11px 14px;
  border: 2px solid #33cfbd;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #036459;
  background-color: inherit;
}

.redButton {
  padding: 11px 14px;
  border: 2px solid #fd938e;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #036459;
  background-color: inherit;
}

.greyButton {
  padding: 11px 14px;
  border: 2px solid #747678;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #036459;
  background-color: inherit;
}

.shadow {
  box-shadow: 0px 2px 20px #bbbbbb;
}

.darkGreen {
  color: #036459;
}

.lightGreen {
  color: #33cfbd;
}